{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des Hotels de ville</h2>
    <ul>
        {% for contenu in contenus %}
            <li>
                <a href="{{ path('content_show', {'id': contenu.id}) }}"><p>Cliquer ici pour : </p>{{ contenu.contenu }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination flex justify-center items-end">
        {{ knp_pagination_render(contenus) }}
    </div>
{% endblock %}
